<div>
    Voici le voyage correspondant à cet id
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Description</th>
                <th>Début</th>
                <th>Fin</th>
                <th>User associé</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <%= @trip.destination %>
                </th>
                <th>
                    <%= @trip.description %>
                </th>
                <th>
                    <%= @trip.start_date %>
                </th>
                <th>
                    <%= @trip.end_date %>
                </th>
                <th>
                    <%= @trip.user.id %>
                </th>
                <th>
                    <%= link_to 'Modifier', edit_trip_path(@trip) %>
                </th>
                <th>
                    <%= button_to 'Delete', trip_path(@trip), :method => :delete %>
                </th>
                
            </tr>
        </tbody>
    </table>
</div>
<div class="return">
    <%= button_to "Retourner à l'accueil", root_path, method: :get, class: 'button-17' %>
</div>